<div class="container">
<h1 class="display-1 " style="text-align:center">Mesas<small class=" text-muted titulo"><i> la-app.</i></small></h1>
<hr>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-link btn btn-primary" routerLink="/dashboard">Dashboard</a>
    <a class="navbar-link btn btn-primary" routerLink="/nueva-mesa">Nueva mesa</a>
    <a class="navbar-link btn btn-primary" routerLink="/lista">Lista de productos</a>
</nav>
<hr>
<router-outlet></router-outlet>
</div>